{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- Back to top button -->
        <div class="back-to-top"></div>

    <header class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center bg-primary text-white">
                    <h1 class="display-4 fw-bolder">Login</h1>
                    <p class="lead fw-normal text-white-5 mb-0">Login to your account</p>
                </div>
            </div>
        </header>
</div>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
<br/>
<form method="POST">
    {% csrf_token %}
  <div class="mb-3">
    <input type="text" class="form-control" name="username" placeholder="Enter Your Username">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="password" placeholder="Enter Your Password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <br/><br/>
      <a href="{% url 'user_signup' %}">Dont have Account Create</a>
</form>

                    </div>
                </center>

            </div>
            


        </div>
<br/><br/>
<br/><br/5
<br/><br/>
{% endblock %}
